* { font-family: Arial, Helvetica, sans-serif; }
.header-basket{
    height:100px;
    background-color: #edfae7;
    text-align: center;
}

.footer-basket{
    height:100px;
    background-color: #1d1d1d;
    text-align: center;
}
.container-basket{
    //height:400px;
    background-color: #e0e0e0;
    text-align: center;
}
